body {
    font-family: Arial, sans-serif;
    line-height: 1.25;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: white;
}

.header {
    background-image: url('../images/background_image.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 143px 20px 142px 20px;
    text-align: center;
    position: relative;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 120px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.title-section h1 {
    margin: 0;
    font-size: 40px;
}

.content {
    background-color: white;
    padding: 10px 120px;
    margin-top: 0;
    text-align: justify;
}

.poster-details h4,
.submission-guidelines h4,
.accepted-posters h4 {
    color: #003366;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul {
    padding-left: 25px;
}

.accepted-posters ul li {
    margin-bottom: 15px;
}

.accepted-posters {
    padding-bottom: 30px;
}

a,
a:hover,
a:visited {
    color: #336699;
    /* text-decoration: none; */
}

@media (max-width: 768px) {
    .header {
        padding: 60px 20px;
        text-align: center;
    }

    .navbar {
        position: static;
        margin-bottom: 20px;
        text-align: left;
    }

    .navbar ul {
        flex-direction: column;
        align-items: left;
        gap: 15px;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .title-section h1 {
        font-size: 36px;
        text-align: center;
    }

    .content {
        padding: 10px 40px;
    }

    .poster-details h4,
    .submission-guidelines h4,
    .accepted-posters h4 {
        color: #003366;
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 50px 20px;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: left;
        gap: 5px 10px;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .title-section h1 {
        font-size: 28px;
    }

    .content {
        padding: 10px 20px;
    }

    .poster-details h4,
    .submission-guidelines h4,
    .accepted-posters h4 {
        color: #003366;
        font-size: 20px;
    }
}
